<h1>About Thinkerinnen*</h1>
<p>A database for female thinkers both historic and recent. Users can create, edit and delete profiles for each thinker. Inside the profile, users can find information about important works and research areas.</p>
