<% provide(:title, "About") %>
<div class="center jumbotron"> 
<h2>About Thinkerinnen*</h2>
<p>
	A database to find female thinkers both historic and recent. This project is aimed at making the work of women in the field of philosophy more visible. <br>
	Users can create, edit and delete profiles for each thinker. Inside the profile, users can find information about important works and research areas. <br>
	This project started with the help of the mentoring program <a href="https://www.learnitgirl.com/">Learn IT, Girl</a>.
</p>
 
</div>


