<% provide(:title, "Welcome") %>

<div class="center jumbotron"> 
<h1>Welcome to Thinkerinnen*</h1>

<h2>
	A database to find female scientists
</h2>

<%= link_to image_tag("Emilie_Chatelet.jpg", alt:"logo") %>
</div>


