@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono:300,400,700);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$thinker_blue: rgb(20,60,100);
$thinker_gold: rgb(240,180,60);

/* universal */


body {
	padding-top: 40px;
	font-family: "Droid Sans", sans-serif;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
 h1 {
	margin-bottom: 10px;
	}
}

.table {
	@extend .table-hover;
	text-align: center;
	th {
	text-align: center;
	}
}

a {
	color: $thinker_blue;
}



/* typography */

h1, h2, h3, h4, h5, h5 {
	line-height: 1;
}


h1 {
	font-size: 2.5 em;
	font-family: "Droid Sans Mono", sans-serif;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	// To Do: Figure out where this is being inherited from and then loose the !important
	color: $thinker_blue !important;
}

h2{
	font-size: 1.2 em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	//text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-family: "Droid Sans Mono", "Arial", sans;
	font-weight: 300;

	&:hover {
	color: white;
	text-decoration: none;
	}
}

.navbar-right a {
	color: #fff !important;
	
	&:hover {
	color: lighten($thinker_blue,40%) !important;
	}
}

.navbar-inverse {
	background-color: $thinker_blue;
}

/* footer*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
		float: left;
		margin-left: 15px;
		}
	}
}

/*forms*/

.form-control {
	width: 50%;
	margin: 0 auto;
}