<h1>Listing thinkers</h1>

<div class="center jumbotron">

   <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
   
    <% @thinkers.each do |thinker| %>
      
        <tr>
          <td><%= thinker.name %></td>
          <td><%= thinker.email %></td>
        </tr>
      
    <% end %>
  </table>

</div>