<% provide(:title, "Show") %>
<div class="center jumbotron"> 

<h2>Thinker:</h2>

<p>
  <strong>Name:</strong>
  <%= @thinker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @thinker.email %>
</p>


</div>