<% provide(:title, "Show") %>
<div class="center jumbotron"> 

<h2>Thinker:</h2>

<p>
  <strong>Name:</strong>
  <%= @thinker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @thinker.email %>
</p>

<p>
	<strong>Topics:</strong>
	<% @thinker.topic_list.each do |topic| %>
	<% topic %>
	<% end %>
</p>

<%= link_to 'Edit', edit_thinker_path(@thinker) %> |
<%= link_to 'Back', thinkers_path %>

</div>