<footer class="footer">
  <small>
    An app by Johanna Lang started during 
     <a href="https://www.learnitgirl.com/">Learn IT, Girl</a> mentoring program
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Imprint",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
